<div
  class="d-flex justify-content-center align-items-center"
  style="height: 90vh"
>
  <div class="card shadow-lg p-4" style="max-width: 700px; width: 100%">
    <h2 class="text-center mb-4">Insert Employee</h2>

    <form [formGroup]="employeeForm" (ngSubmit)="submitHandler()">
      <div class="row form-group">
        <div class="col-md-6 mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" formControlName="name" />
          <small
            class="text-danger"
            *ngIf="
              employeeForm.get('name')?.invalid &&
              employeeForm.get('name')?.touched
            "
          >
            Name is required (Min: 3 chars, only letters allowed)
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Phone No</label>
          <input type="text" class="form-control" formControlName="phoneno" />
          <small
            class="text-danger"
            *ngIf="
              employeeForm.get('phoneno')?.invalid &&
              employeeForm.get('phoneno')?.touched
            "
          >
            Enter a valid 10-digit phone number
          </small>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Department</label>
          <input
            type="text"
            class="form-control"
            formControlName="departmentit"
          />
          <small
            class="text-danger"
            *ngIf="
              employeeForm.get('departmentit')?.invalid &&
              employeeForm.get('departmentit')?.touched
            "
          >
            Department is required
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label">Status</label>
          <select class="form-control" formControlName="status">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label">Created By</label>
          <input type="text" class="form-control" formControlName="createdby" />
          <small
            class="text-danger"
            *ngIf="
              employeeForm.get('createdby')?.invalid &&
              employeeForm.get('createdby')?.touched
            "
          >
            Created By is required
          </small>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-3 px-5">
          Insert Employee
        </button>
      </div>
    </form>
  </div>
</div>
